.content-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
}
.content-single{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 22rem;
  color: white;
  padding-top: 3rem;
}
.divider{
  font-size: 4rem;
  line-height: 4rem;
  display: inline-block;
  color: rgba(255,255,255,1);
  opacity: 0.7;
  text-align: center;
  align-self: flex-start;
  display: block;
  height: fit-content;
  width: fit-content;
  margin: 3rem 15px;
}
.circle{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 0.2rem solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.circle:hover{
  background: #0366ee;
  border: 0.2rem solid #0366ee;
}
.num{
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight:bolder;
  line-height: 5rem;
}
.count{
  font-size: 1.2rem;
  margin-bottom: -0.5rem;
}
.intro > p{
  line-break: auto;
  word-break: break-all;
}
.occupation{
  font-size: 1.6rem;
  margin: 0.6rem 0 1rem 0;
  font-weight: bold;
}
.intro{
  text-align: center;
  font-size: 1rem;
  line-height: 1.8em;
  width: 100%;
  opacity: 0.9;
}