.content-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  padding-top: 160px;
}
.content-single{
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  max-width: 240px;
  color: white;
}
.content-wrap > p{
  color: white;
  font-size: 20px;
  line-height: 40px;
}