.content-wrap{
  height: 100vh;
  width: 100%;
  background-color: lightgray;
}
.button{
  left: 15%;
  position: absolute;
  transition: left cubic-bezier(0.6,0,0.6,1) 0.5s;
  top: 50%;
  height: fit-content;
  z-index: 100;
  .offset{
    font-size: 32px;
    left: -2rem;
    top: -2rem;
    color: white;
    background-color: rgb(0, 129, 255);
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    font-size:2rem;
    justify-content: center;
    align-items: center;
    transition-property: box-shadow,transform,color,background-color;
    transition-timing-function: ease,ease,ease,ease;
    transition-duration: 0.3s;
    transition-delay: 0s, 0.3s, 0.1s, 0.1s;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
  }
  .offset:hover{
    box-shadow: 0 0 2rem rgba(0,0,0,0.5);
  }
}
.button-active{
  .button;
  left: 33%;
  .offset{
    color: black;
    background-color: #FFDE00;
    transform: rotate(180deg);
  }
}
.map-wrap{
  // background-image: url('../assets/image/fake_map.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.detail-wrap{
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 15;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(3, 102, 238, 0.8);
  color: white;
  font-size: 1.2rem;
  padding-top: 8%;
  transition: all ease 0.5s;
  clip: rect(auto 0vw auto auto);
}
.detail-wrap-active{
  .detail-wrap;
  transition: all ease 0.9s;
  clip: rect(auto 50vw auto auto);
}
.buttons-wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 1rem;
}
.company-wrap::after{
  height: 0.1rem;
  width: 100%;
  background-color: rgb(98, 177, 255);
  display: block;
  content: ' ';
  margin: 3.6rem 0;
}
.company-name{
  font-size:1.2rem;
  color: #fff;
  font-weight:bolder;
  margin-bottom:2.8rem;
}
.QR-masking-wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 10000;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    border-radius: 10px;
    overflow: hidden;
  }
  p{
    text-align: center;
    color: white;
    font-family: 'HYQiHei-40S';
    font-size: 1em;
    margin: 40px 0;
    line-height: 2em;
  }
  span{
    border-radius: 50%;
    height: 48px;
    width: 48px;
    font-size: 24px;
    color: white;
    border: 2px white solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    transition: all ease 0.4s;
    cursor: pointer;
  }
  span:hover{
    box-shadow: 0 0 20px rgba(255,255,255,0.6);
  }
}