.main-container{
  min-height: 100%;
  overflow: hidden;
  height: fit-content;
}
body{
  /* min-width: 1024px; */
}
.gradient{
  height: 130vh;
  position: relative;
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.05), rgba(255,255,255,0.05), rgba(255,255,255,0));
}