.cover-wrap{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-content{
  z-index: 100;
}
.cover-content-title-font{
  color: white;
  text-align: center;
}
.cover-content-title h1{
  font-size: 64px;
  margin-bottom: 5px;
  .cover-content-title-font;
}
.cover-content-title h2{
  font-size: 42px;
  .cover-content-title-font;
}