.content-wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: -4px;
}
.sub-content-wrap{
  background-size: cover;
  background-position: center center;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sub-left-content{
  align-self: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 50%;
  text-align: center;
  background-color: rgba(0,115,204,0.75);
  transition: all ease 0.8s;
}
.sub-left-content  p {
  font-size: 24px;
  margin: 50px 0;
  width: 60%;
  font-weight: normal;
  color: white;
}
.sub-left-content  h1 {
  font-size: 92px;
  color: white;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 72px;
}
.sub-left-content:hover{
  background-color: rgba(0,115,204,0.85);
}
.sub-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
}
.sub-right-content{
  height: 100%;
  width: 100%;
  display: flex;
}
.intro-people{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-people h2{
  font-size: 36px;
  margin-bottom: 64px;
  width: 50%;
  text-align: center;
}
.intro-people h3{
  font-size: 24px;
  margin: 30px 0;
}
.intro-people img{
  height: 150px;
  width: auto;
  border-radius: 50%;
}