.content-wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: -4px;
}
.sub-content-wrap{
  background-size: cover;
  background-position: center center;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sub-left-content{
  align-self: bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5%;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 50%;
  text-align: right;
}
.sub-left-content  h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 0 0 45px rgba(0,0,0,0.7);
}
.sub-left-content  h1 {
  font-size: 72px;
  color: white;
  margin-bottom: 10px;
  line-height: 72px;
  text-shadow: 0 0 95px rgba(0,0,0,0.7);
}
.sub-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
}
.sub-right-content{
  height: 100%;
  width: 100%;
  display: flex;
}
.intro-people{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-people h2{
  font-size: 42px;
  margin-bottom: 64px;
}
.intro-people h3{
  font-size: 24px;
  margin: 30px 0;
}
.intro-people img{
  height: 150px;
  width: auto;
  border-radius: 50%;
}