.wrap{
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-wrap{
  position: absolute;
  top: -2.4rem;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
}
.active-title{
  font-weight: bold;
  line-height: 1em;
  font-size: 1.8em;
  position: relative;
  color: white;
  transition: all ease 0.3s;
  cursor: pointer;
}
.active-title::after{
  display: block;
  position: absolute;
  content: ' ';
  bottom: -20px;
  background-color: white;
  height: 3px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: all ease 0.4s;
}
.title{
  font-weight: bold;
  line-height: 2em;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  transition: all ease 0.3s;
  opacity: 0.7;
}
.title::after{
  display: block;
  position: absolute;
  content: ' ';
  background-color: white;
  height: 0.5rem;
  width: 0;
}
.child-wrap{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //margin: auto;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;;
  width: 100%;
  transition: all ease 0.4s;
  opacity: 0;
  visibility: hidden;
}
.child-wrap-active{
  .child-wrap;
  opacity: 1;
  visibility: visible;
}