.artical-content-wrap{
  background-color: whitesmoke;
  padding: 70px 140px;
  padding-bottom: 0;
  z-index: 10000;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80%;
  width: 70%;
  overflow: hidden;
  transition: all ease 1s;
  clip: rect(0 auto auto auto);
}
.artical-content-wrap-hidden{
  .artical-content-wrap;
  clip: rect(100vh auto auto auto);
  transition: all ease 1s 0.1s;
}
.artical-content{
  font-family: "HYQiHei";
  transition: all ease 0.4s;
  overflow: auto;
  height: 100%;
  opacity: 1;
}
.artical-content a {
  color: black;
  text-decoration: none;
}
.artical-content-hidden{
  overflow: auto;
  font-family: "HYQiHei";
  transition: all ease 0.4s;
  opacity: 0;
}
.artical-content-hidden  h1{
  font-weight: bold;
  font-size: 42px;
}
.artical-content-hidden  p{
  font-size: 22px;
}
.artical-content  h1{
  font-weight: bold;
  font-size: 42px;
}
.artical-content  p{
  font-size: 22px;
}
.button-wrap{
  position: absolute;
  top: 20%;
  right: 30%;
  z-index: 10000;
}
.button{
  width: 72px;
  height: 72px;
  position: relative;
  top: -36px;
  right: -36px;
  transition: opacity ease 0.4s 0.8s, background-color ease 0.4s;
}
.button-hidden{
  .button;
  opacity: 0;
  transition: all ease 0.4s;
}
.button-icon{
  font-size: 36px;
}

.article-wrap{
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1024px;
  height: 100vh;
}
.article-wrap-open{
  .article-wrap;
  // visibility: visible;
  transition: all ease 0.8s;
  opacity: 1;
}
.article-wrap-close{
  .article-wrap;
  // visibility: hidden;
  transition: all ease 0.8s 1s;
  opacity: 0;
  pointer-events: none;
}
.article-wrap-background{
  background-color: #171717;
  transition: all ease 0.8s;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.article-wrap-background-hidden{
  .article-wrap-background;
  height: 0;
}
.nav-wrap{
  right: 7%;
  display: flex;
  flex-direction: column;
  top: 20%;
  position: relative;
  transition: all ease 0.4s;
}
.nav-wrap > a{
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: gray;
}
.nav-wrap > a:hover{
  color: #007ed9;
}
.nav-wrap > a:focus{
  text-decoration: none;
}
.nav-wrap > a::after{
  display: block;
  height: 1px;
  width: 240px;
  content: ' ';
  margin: 25px 0;
  background-color: #323232;
}
.nav-wrap-hidden{
  opacity: 0;
}