.artical-wrap{
  background-color: whitesmoke;
  padding: 140px;
  z-index: 120000;
  position: relative;
  width: 70%;
}
.artical-content{
  font-family: "HYQiHei";
}
.artical-content > h1{
  font-weight: bold;
  font-size: 42px;
}
.artical-content > p{
  font-size: 22px;
}
.button{
  width: 72px;
  height: 72px;
  position: absolute;
  top: -36px;
  right: -36px;
}
.button-icon{
  font-size: 36px;
}