.artical-content-wrap{
  background-color: whitesmoke;
  padding: 0 100px;
  padding-bottom: 0;
  z-index: 1000;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 85%;
  width: 70%;
  overflow: hidden;
  transition: all cubic-bezier(0.75,0,0.1,1) 1s;
  clip: rect(0vh auto auto auto);
}
.artical-content-wrap-hidden{
  .artical-content-wrap;
  clip: rect(100vh auto auto auto);
  transition: all cubic-bezier(0.65,0,0,0.75) 1s;
}
.artical-content{
  padding-top: 50px;
  font-family: "HYQiHei-40S";
  text-align: justify;
  text-justify: inter-word;
  transition: all ease 0.4s;
  overflow: auto;
  height: 100%;
  width: 55rem;
  margin: auto;
  opacity: 1;
  &::-webkit-scrollbar{
    width: 0px !important;
  }
  h1{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  h1:before{
    display: block;
    content: ' ';
    background-color: lightgray;
    height: 1px;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  h1:first-child:before{
    display: none;
  }
  h2{
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
  }
  h3{
    font-size: 1.3rem;
    font-weight: bold;
  }
  h4{
    font-size: 1.2rem;
    font-weight: bold;
  }
  h5{
    font-size: 1.1rem;
    font-weight: bold;
  }
  p{
    font-size: 1rem;
    line-height: 2em;
    margin-bottom: 2rem;
  }
  br{
    content: ' ';
    display: block;
  }
  img{
    width: 100%;
    margin: 4rem 0;
  }
}
.artical-content a {
  color: rgb(43, 160, 255);
  text-decoration: none;
}
.artical-content-hidden{
  .artical-content;
  opacity: 0;
}
.button-wrap{
  position: absolute;
  top: 15%;
  right: 30%;
  z-index: 1000;
}
.button{
  width: 56px;
  height: 56px;
  position: relative;
  top: -28px;
  right: -28px;
  transition: opacity ease 0.4s 0.8s, background-color ease 0.4s;
}
.button-hidden{
  .button;
  opacity: 0;
  transition: all ease 0.4s;
}
.button-icon{
  font-size: 36px;
}

.article-wrap{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1024px;
  height: 100vh;
}
.article-wrap-open{
  .article-wrap;
  // visibility: visible;
  transition: all ease 0.5s;
  opacity: 1;
}
.article-wrap-close{
  .article-wrap;
  // visibility: hidden;
  transition: all ease 1s;
  opacity: 0;
  pointer-events: none;
}
.article-wrap-background{
  background-color: #171717;
  transition: all cubic-bezier(0.75,0,0,0.75) 1s;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.article-wrap-background-hidden{
  .article-wrap-background;
  height: 0;
}
.nav-wrap{
  right: 7%;
  display: flex;
  flex-direction: column;
  top: 15%;
  position: relative;
  transition: all ease 0.4s;
  padding-top: 50px;
}
.nav-wrap > a{
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: gray;
}
.nav-wrap > a:hover{
  color: #007ed9;
}
.nav-wrap > a:focus{
  text-decoration: none;
}
.nav-wrap > a::after{
  display: block;
  height: 1px;
  width: 240px;
  content: ' ';
  margin: 25px 0;
  background-color: #323232;
}
.nav-wrap-hidden{
  opacity: 0;
}
:global{
  t{
    margin: 0 10px;
    display: inline; 
  }
}
.author-wrapper{
  top: 15%;
  position: relative;
  width: 30%;
  padding: 50px 8rem 0 5rem;
  opacity: 1;
  transition: all ease 0.5s;
  h3{
    color: #444;
    font-family: 'HYQiHei-40S';
    font-weight: bold;
  }
  .author{
    color: white;
    display: flex;
    align-items: flex-end;

    span{
      margin: 0 0.8rem 0 0.3rem;
      font-family: 'HYQiHei-40S';
      font-weight: bold;
    }
    .name{
    }
    .position{
      color: lightgray;
    }
  }
  .author-intro{
    margin-top: 2rem;
    margin-left: 0.3rem;
    p{
      color: lightgray;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}
.author-wrapper-hidden{
  top: 20%;
  position: relative;
  width: 30%;
  padding: 20px 8rem 0 5rem;
  opacity: 0;
}