.footer-wrap{
  width: 100%;
  z-index: 1000;
}
.footer-info-wrap{
  background-color: #2e2e2e;
  height: 450px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-info-sub-wrap{
}
.footer-info-left-wrap{
  .footer-info-sub-wrap;
}
.footer-info-right-wrap{
  .footer-info-sub-wrap;
  display: flex;
  flex-direction: column;
}
.contact-wrap{
  display: flex;
  flex-direction: column;
  font-family: "HYQiHei";
  font-size: 16px;
  color: #a4a4a4;
  margin-bottom: 10px;
}
.logo-and-intro{
  display: flex;
  width: 675px;
  flex-direction: row;
  justify-content: space-between;
}
.logo-and-intro p {
  font-size: 18px;
  color: #a4a4a4;
  font-weight: normal;
  font-family: "HYQiHei";
  width: 480px;
}
.footer-bottom-wrap{
  flex: 1;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  background-color: black;
  align-items: center;
}
.footer-nav{
  height: 100%;
  display: flex;
}
.footer-nav > a{
  color: white;
  padding: 0 20px;
  font-size: 16px;
  line-height: 72px;
}

.footer-copyright {
  font-size: 16px;
  color: gray;
}
.footer-copyright a {
  color: gray;
  font-size: 16px;
}
.footer-copyright a:hover{
  color: white;
}
.seperator{
  width: 100%;
  height: 1px;
  background-color: #4c4c4c;
  content: ' ';
  display: block;
  margin: 20px 0;
}
.co-title{
  font-size: 18px;
  font-family: "HYQiHei";
  color: #a4a4a4;
}
.logo-container > span{
  font-size: 50px;
  color: #a4a4a4;
  font-weight: bold;
  margin-right: 10px;
}
.qr-wrap{
  display: flex;
  flex-direction: row;
}
.qr-wrap span{
  font-size: 16px;
  padding-top: 10px;
  font-family: "HYQiHei";
  color: #a4a4a4;
}
.qr{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}