.footer-wrap{
}
.footer-info-wrap{
  background-color: #444;
  height: 300px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-info-sub-wrap{
}
.footer-info-left-wrap{
  .footer-info-sub-wrap;
}
.footer-info-right-wrap{
  .footer-info-sub-wrap;
}
.logo-and-intro{
  display: inherit;
  flex-direction: row;
}


.footer-bottom-wrap{
  flex: 1;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  align-items: center;
}
.footer-nav{
  height: 100%;
  display: flex;
}
.footer-nav > a{
  color: white;
  padding: 0 20px;
  line-height: 48px;
}

.footer-copyright {
  color: gray;
}
.footer-copyright a {
  color: gray;
}
.footer-copyright a:hover{
  color: white;
}