@import "../../config.less";
.footer-wrap{
  width: 100%;
  z-index: 1000;
  font-family:"微软雅黑";
  height: 40rem;
  display: flex;
  flex-direction: column;
}
.footer-info-wrap{
  background-color: #2e2e2e;
  padding: 6rem 9rem;
  color: white;
  display: flex;
  justify-content: space-around;
  font-weight:lighter;
}
.footer-info-sub-wrap{
}
.footer-info-left-wrap{
  width: calc(55% - 11rem);
  .footer-info-sub-wrap;
}
.footer-info-right-wrap{
  width: calc(45% - 11rem);
  .footer-info-sub-wrap;
  display: flex;
  flex-direction: column;
}
.contact-wrap{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 2em;
  color: #a4a4a4;
  margin-bottom: 1.4rem;
}
.logo-and-intro{
  display: flex;
  //width: 675px;
  flex-direction: row;
  justify-content: flex-start;
  .logo{
    width: 7.2rem;
    margin-right: 3rem;
  }
}
.logo-and-intro p {
  font-size: 1.3rem;
  color: #a4a4a4;
  line-height: 2em;
  font-weight: 300;
  text-align: justify;
  word-break: break-all;
}
.footer-bottom-wrap{
  flex: 1;
  height: 5.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  background-color: black;
  align-items: center;
}
.footer-nav{
  height: 100%;
  display: flex;
}
.footer-nav > a{
  color: white;
  padding: 0 2.2rem;
  font-size: 1.4rem;
  line-height: 5.2rem;
}

.footer-copyright {
  font-size: 1.4rem;
  color: #bbb;
}
.footer-copyright a {
  color: #bbb;
  font-size: 1.4rem;
}
.footer-copyright a:hover{
  color: white;
}
.seperator{
  width: 100%;
  height: 1px;
  background-color: #4c4c4c;
  content: ' ';
  display: block;
  margin: 1.5rem 0;
}
.co-wrap{
  margin-top: 3rem;
}
.co-title{
  font-size: 1.4rem;
  color: #a4a4a4;
}
.logo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo-container > div{
  height: 4rem;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 3px 4px;
  align-items: center;
  img{
    width: auto;
    height: 100%;
  }
}
.qr-wrap{
  display: flex;
  flex-direction: row;
}
.qr-wrap span{
  font-size: 1.6rem;
  padding-top: 1rem;
  color: #a4a4a4;
}
.qr{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
  .qr-img{
    width: 10rem;
  }
  .qr-img-q{
    .qr-img;
    background-color: white;
    padding: 10px;
  }
  span{
    font-size:1.4rem;
  }
}