.content{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}
.content-wrap{
  display: inline-flex;
  transition: all ease 0.4s;
  height: 100%;
  position: relative;
  overflow: visible;
}
.dot{
  width: 20px;
  min-height: 3px;
  content: ' ';
  display: block;
  background-color: rgba(0,0,0,0.3);
  transition: all ease 0.3s;
  margin: 5px;
  cursor: pointer;
}
.dot.active{
  width: 30px;
  background-color: rgba(255,255,255,0.3);
}
.dots-wrap{
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
