.content-wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-left-container{
  background-image: url('../../assets/image/index/business_left.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  flex: 1;
  transition: all ease 0.8s;
}
.content-left-container:hover{
  background-size: 105% 105%;
}
.content-right-container{
  width: 37rem;
  display: flex;
  flex-direction: column;
}
.content-right:nth-of-type(1){
  height: 55%;
}
.content-right:nth-of-type(2){
  height: 45%;
}
.company-wrap{
  height: 100%;
  display: flex;
  position: relative;
}
.company{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  display: flex;
  a{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
    display: flex;
    .brand{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: fit-content;
      transition: all ease 0.5s;
      opacity: 0;
      h2{
        text-align: center;
        color: white;
        font-family: 'HYQiHei-40S';
        font-weight: bold;
        
      }
      h3{
        text-align: center;
        color: white;
        font-family: 'HYQiHei-60S'
      }
    } 
    img{
      opacity: 1;
      width: auto;
      height: 5rem;
    }
  }
  a:hover{
    .brand{
      opacity: 1;
    }
    img{
      opacity: 0;
    }
  }
  img{
    width: 40%;
    transition: all ease 0.5s;
  }
}
.company-wrap:hover{
  img{
    transform:scale(1.05);
  }

}
@keyframes fadeIn{
  0% {opacity: 0}
  100% {opacity: 1}
}
.carousel-wrap{
  width: 100%;
   height: 100%; 
   display: flex; 
   position: relative;
   transition: all ease 0.5s;
}
.insight-wrap{
  display: flex;
  height: 100%;
  background-image: url("../../assets/image/100477685.png");
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center center;
  transition: all ease 0.8s;
  position: relative;
}
.insight-wrap:hover{
  background-size: 105% 105%;
}
.insight{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 89, 177, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HYQiHei-60S';
}
.insight h1, .insight h2{
  color: white;
}
.insight h1{
  font-size: 2.4rem;
  margin-bottom: 1rem;
  line-height: 0.8em;
  letter-spacing: 0.2rem;
  font-weight:bolder;
}
.insight h2{
  font-size: 1.8rem;

}
.business{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all ease 0.8s;
  background-color: rgba(0,0,0,0.2);
  align-items: center;
  height: 100%;
  padding: 10%;
}
.business:hover{
  background-color: rgba(98,113,135,0.6);
}

.business h1{
  font-size: 5rem;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}