.tab-wrapper{
  display: flex;
  flex-wrap: wrap;
  .tab{
    font-size: 1.1rem;
    padding: 0.5em 1em;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.7s;
    height: fit-content;
    white-space: nowrap;
    margin: 0 1rem 0.5rem 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
  }
  .tab-active{
    .tab;
    background-color: #1e7ddb;
    color: white;
  }
}