.content-wrap{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-right: -4px;
  position: relative;
  overflow: hidden;
}
.sub-content-wrap{
  background-size: 100%;
  transition: all ease 0.7s;
  background-position: center center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.sub-content-wrap-left:hover{
  background-size: 105%;
}
.sub-content-wrap-right:hover{
  background-size: 105%;
}
.sub-content-wrap-left{
  .sub-content-wrap;
  background-image: url('../../assets/image/index/force_left.jpg');
}
.sub-content-wrap-right{
  .sub-content-wrap;
  background-image: url('../../assets/image/index/force_right.jpg');
}
.sub-left-content{
  align-self: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 50%;
  padding-bottom: 10%;
  transition: all ease 0.8s;
}
.sub-content-wrap:nth-of-type(1):hover .bg-left-img{
  width: 105%;
  height: 105%;
}
.sub-content-wrap:nth-of-type(2):hover .bg-right-img{
  width: 105%;
  height: 105%;
}
.sub-left-content:hover{
  background-color: rgba(255,255,255,0.3);
}
.sub-left-content > h2 {
  color: white;
  font-family: "HYQiHei";
  font-weight: bolder;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.sub-left-content > h2:nth-last-child(2){
  margin-bottom: 40px;
}
.sub-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
}
.sub-right-top{
  .sub-right;
  height: 40%;
  top: 15%;
}
.sub-right-top h1{
  font-size: 64px;
  font-weight: normal;
}
.sub-right-bottom{
  .sub-right;
  bottom: 5%;
  height: 50%;
}
.sub-right-bottom h2{
  font-size: 24px;
  margin-bottom: 5px;
}
.jiujiu{
  left: 0;
  right: 0;
  top: 15%;
  background-blend-mode: overlay;

}