html, body, :global(#root) {
  background-color: white;
  min-height: 100%;
}

@font-face{
  font-family: 'HYQiHei';
  src: url('./assets/font/HYQiHei-40S.eot');
  src:
          url('./assets/font/HYQiHei-40S.eot') format('embedded-opentype'),
          url('./assets/font/HYQiHei-40S.woff') format('woff'),
          url('./assets/font/HYQiHei-40S.ttf') format('truetype'),
          url('./assets/font/HYQiHei-40S.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'HYQiHei-60S';
  src: url('./assets/font/HYQiHei-60S.eot');
  src:
          url('./assets/font/HYQiHei-60S.eot') format('embedded-opentype'),
          url('./assets/font/HYQiHei-60S.woff') format('woff'),
          url('./assets/font/HYQiHei-60S.ttf') format('truetype'),
          url('./assets/font/HYQiHei-60S.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global(.card-container) {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 7rem;
}
:global(.card-wrap) {
  transition: all ease 0.4s;
  width: 100%;
  height: 38rem;
  margin-bottom: 3rem;
  position: relative;
  display: flex;
}
:global(.ant-layout) {
  background-color: white !important;
  /*min-width: 1368px;*/
}
div::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0.2);
  border-radius: 2px;
}
div::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}
div::-webkit-scrollbar{
  position: absolute;
  bottom: 0;
  width: 5px;
  padding: 1px;
  height: 4px;
}
body::-webkit-scrollbar-corner{
  visibility: hidden;
}
body::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0.4);
}
body::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
body::-webkit-scrollbar{
  position: absolute;
  bottom: 0;
  width: 10px;
  padding: 1px;
  height: 4px;
}
body::-webkit-scrollbar-corner{
  visibility: hidden;
}