<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name=renderer content=webkit>
  <title>玖久咨询 - 让企业与新青年遇见</title>
    <% if (process.env.NODE_ENV === 'development') { %>
      <script>Blob = void 0</script>
      <script>window.addEventListener('load', function () { var iframe = document.createElement('iframe'); iframe.style.display = 'none'; document.body.appendChild(iframe); Blob = iframe.contentWindow.Blob })</script>
    <% } %>
  <link rel="stylesheet" href="/index.css" />
  <script src="http://p4wvbw0in.bkt.clouddn.com/lib/js/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
</html>