<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name=renderer content=webkit>
  <meta name="baidu-site-verification" content="ZLYjEZBXuk" />
  <title>玖久咨询 - 让企业与新青年遇见</title>
  <% if (process.env.NODE_ENV === 'development') { %>
    <script>Blob = void 0</script>
    <script>window.addEventListener('load', function () { var iframe = document.createElement('iframe'); iframe.style.display = 'none'; document.body.appendChild(iframe); Blob = iframe.contentWindow.Blob })</script>
    <% } %>
      <link rel="stylesheet" href="/index.css" />
      <script src="http://p4wvbw0in.bkt.clouddn.com/lib/js/jquery-3.3.1.min.js"></script>
      <script type="text/javascript">
        console.log(window.navigator.userAgent);
        const userAgent = window.navigator.userAgent;
        const r = /(Android|iPhone|iPad)/
        console.log(r);
        if (userAgent.match(r) && window.location.pathname === "/") {
          window.location.href = "/m"
        }
      </script>
</head>

<body>
  <div style="display: none;">
    <p>
      玖久诞生于2016年，由数位前尼尔森资深咨询顾问创立，独具一格地采用全在线协作的方式，致力于为合作伙伴提供 “无边界的市场咨询服务”的同时，也赋能青年商业实践机会。
    </p>
  </div>
  <div id="root"></div>
</body>

</html>