
html, body, :global(#root) {
  min-height: 100%;
}

@font-face{
  font-family: 'HYQiHei';
  src: url('./assets/font/HYQiHei-40S.otf');
}

:global(.card-container) {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}
:global(.card-wrap) {
  max-width: 1660px;
  width: 100%;
  height: 682px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
}