<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>玖久</title>
  <link rel="stylesheet" href="/index.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="root"></div>
</body>
<script>
  if (window.devicePixelRatio > 1.1) {
    alert('当前浏览器处于放大状态, 可能会影响站点浏览体验. 按住Ctrl滚动鼠标滚轮调整缩放.');
  }
</script>

</html>